:root {

    text-decoration: none;

    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--pink-main);

    text-shadow: 0 0 10px var(--pink-main);
}

.page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 20px;

    text-align: center;
}

.pixel-title {
    font-family: 'Press Start 2P', cursive;

    color: var(--pink-main);

    margin-bottom: 30px;

    text-shadow:
        0 0 20px var(--pink-main),
        0 0 40px var(--pink-main);
}

.glow-card {
    background: rgba(255,255,255,0.05);

    border: 3px solid var(--pink-main);

    border-radius: 20px;

    padding: 40px;

    box-shadow:
        0 0 30px rgba(255,105,180,0.3),
        inset 0 0 20px rgba(255,105,180,0.1);
}

.pixel-btn {
    margin-top: 30px;

    padding: 15px 30px;

    background: var(--pink-main);

    color: white;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-family: 'Press Start 2P', cursive;

    transition: 0.3s;
}

.pixel-btn:hover {
    transform: translateY(-5px);

    box-shadow: 0 0 20px var(--pink-main);
}
.memory-grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;

    width: 100%;

    max-width: 1000px;
}

.memory-card {
    background: rgba(255,255,255,0.05);

    padding: 20px;

    border-radius: 20px;

    border: 2px solid var(--pink-main);

    transition: 0.4s;
}

.memory-card:hover {
    transform: translateY(-10px) rotate(2deg);

    box-shadow: 0 0 30px var(--pink-main);
}

.memory-card img {
    width: 100%;

    border-radius: 10px;
}

.terminal-window {
    width: 800px;

    max-width: 90%;

    background: black;

    border: 3px solid var(--pink-main);

    border-radius: 20px;

    overflow: hidden;
}

.terminal-header {
    background: var(--pink-main);

    padding: 15px;

    font-family: monospace;
}

.terminal-body {
    padding: 30px;

    font-family: monospace;

    color: #00ff88;

    line-height: 2;
}